body{
 font-family:Arial,Helvetica,sans-serif;
 font-size:15px;
 line-height:1.5;
 padding:0;
margin:0;
background-colour:#f4f4f4;  /*#f4f4f4 light gray*/
}
/*GLOBAL CLASS CALLED*/
.container{
 width:80%;
 margin:auto;
  overflow:auto;
}

/* for dark background**/

.dark{
  padding:15px;
  background:#35424a; /*#35424a DARK GRAY*/
  colour:#ffffff;   /*#FFFFF WHITE */
  margin-top:10px;
  margin-bottom: 10px;
}
header ul{
margin:0;
padding:0;
}

/*SUBSCRIBE BUTTON OF NEWSLETTER*/
.button_1{
height:38px;
background:#e8491d;  /*#e8491d ORANGE*/
border:0;
padding-left:20px;
padding-right:20px;
color:#ffffff;   /*#ffffff WHITE*/
}

/*HEADER**/
header{
background:#35424a;   /*#35424a DARK GRAY*/
color:#ffffff;
padding-top:30px;
min-height:70px;
border-bottom:#e8491d 3px solid;
}
/*THIS HEADER  IS USED TO DISPLAY WHITE COLOUR WHEN THE UPPER BUTTONS "HOME ABOUT SERVICE" ARE NOT SELECTED*/
header a{
color:#FFFFFF;
text-decoration:none;
text-transform:uppercase;
font-size:16px;
}

/* NOT KNOWN ***********************************************************************************/

header li{
color:#e8491d;
float:left;
display:inline;
padding:0 20px 0 20px;
}


header #branding{
float:left;

}


header #branding h1{
margin:0;
}

header nav{
float:right;
margin-top:10px;
}

       /*USED FOR HIGHLIGHTING THE ACME WORD IN THE <h1> tag in the html files (ORANGE)*/
header .highlight,span{
color:#e8491d ;
font-weight:bold;
}
       /*USED FOR HIGHLIGHTING THE HOME BUTTON AND OTHERS WHEN SELECTED (ORANGE)*/
header .highlight,header .current a{
color:#e8491d ;
font-weight:bold;
}

header a:hover{
color:#cccccc;
font-weight:bold;
}

/* SHOWCASE HOME PAGE
IT IS THE LARGE IMAGE THAT IS IN BETWEEN THE CENTER OF THE PAGE THE HOME PAGE*/
#showcase{
min-height: 400px;
background:url('../img/showcase.jpg') no-repeat 0 -400px;
text-align:center;
color:#ffffff;

}
/*APPLING THE ALLIGNMENT OF THE TEXT WRITTEN IN THE SHOWCASE WHICH IS
> H1 TAG
>P tag
> */

#showcase h1{
margin-top:100px;
font-size:55px;
margin-bottom:10px;
}



#showcase p{
font-size:20px;
}

/*THIS IS THE WHITE BOX WHICH IS USED TO ENTER THE EMAILS */
#newsletter{
padding:15px;
color:#ffffff;  /*#FFFFFF IS WHITE COLOR*/
background:#35424a;  /*#35424a THIS IS THE DARK GRAY BACKGROUND COLOUR*/
}


#newsletter h1{
float:left;
}

/* Appling the styling on the form tag used in the html files go visit them */

#newsletter form{
float:right;
margin-top:15px;
}

/*NOW THERE IS A TASK FOR ALL OF YOU YOU HAVE TO ENTER THE CORRECT EMAIL AND THE WRONG FORMATTED EMAIL IN THE BOX
AND THEN COMMENT WHAT HAPPENED TO THE PAGE RIGHT IN FRONT OF THIS CODE*/
#newsletter input[type="email"]{
padding:4px;
height:25px;          /*ANS:  When you type the wrong email it generates that @ is missing in your email.And when you write email in right format it gets accepted.*/
width:250px;
}



/* BOXES */
/* GO SEE THE INDEX.HTML FILE AND FIND THE BOXES AND WRITE THE PURPOSE OF THE USING BOXES DOWN HERE*/
#boxes{
margin-top:20px;
}

#boxes .box{
float:left;                        /*ANS:                               */
text:align center;
width:30%;
padding:10px;
}


#boxes .box img{
width: 90px;
}
                  /* SIDEBAR IN ABOUT PAGE*/
                  /*THIS IS USED TO ADD STYLING TO THE DATA IN THE SIDEBAR SHOWN IN THE OUTPUT AFTER RUNNING*/
                  /*Why is aside used for and what is the difference in the layout if u change the code one by one*/
/*
Read more: https://html.com/tags/aside/#ixzz5X7ixLXdh */
/*
                  >COLOR
                  >width
                  >margin*/

aside#sidebar{
  float:right;
  width:30%;                          /*ANS:    The aside element represents a section of a page that consists of content that is tangentially
                  related to the content around the aside element, and which could be considered separate from that content.
                  And basically layout refers to the arrangement of text, images, and other objects on a page.
                   the change
                   in simple words we created a small boxes on a webpage( which includes about and services, filled with typed material) and by changing the value of color here the written content on about and service ( writeen in small box ) gets change and same thing also happened with the width */
  margin-top:10px;
  color:#ffffff;
}



/* about us data paragraph Allignment**/
.artical#main-col{
  float:left;
  width:65%;
}



/* SERVICES */
/* MAKES BOXES AROUND THE TEXT PARAGRAPHS **/

ul#servises li{
  list-style:none;
  padding:20px;                   /* NOT WORKING **/
  border:#cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}


footer{
padding :20px;
margin-top:20px;
color:#ffffff;
background:#e8491d;
text-align:center;
}
